<%=record%>
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>내용보기</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.wrapper{
	width:500px;
	border:2px solid blue;
	background:yellow;
	margin:auto;
	text-align:center;
}
.wrapper input, textarea{
	width:98%;
	margin:2px 0px;
}
textarea{
	height:300px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(function(){
	$("button").click(function(){
	});
});
</script>
</head>
<body>
	<div class="wrapper">
		<form name="form1" method="post">
			<div>
				<input type="text" placeholder="작성자입력" name="writer" value="<%=record[1]%>">
			</div>
			<div>
				<input type="text" placeholder="제목입력" name="title"  value="<%=record[2]%>">
			</div>
			<div>
				<textarea name="content"><%=record[3]%></textarea>
			</div>
			<div>
				<button>수정</button>
				<button>삭제</button>
				<button>목록</button>
			</div>
		</form>
	</div>
</body>
</html>
