<%
	//페이징 처리 기법
	var totalRecord=26;	//총 레코드 수	
	var pageSize=10;		//페이지당 보여질 레코드 수
	var totalPage=Math.ceil(totalRecord/pageSize);
%>
<%="totalRecord is "+totalRecord%><br>
<%="pageSize is "+pageSize%><br>
<%="totalPage is "+totalPage%><br>
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>
</head>
<body>
	<table border="1px" width="100%">
		<thead>
			<caption>공지 게시판</caption>
		</thead>
		<tbody>
			<tr>
				<th width="5%">No</th>			
				<th width="15%">작성자</th>
				<th width="60%">제목</th>
				<th width="15%">작성일</th>
				<th width="5%">조회수</th>
			</tr>
			<%for(var i=0;i<pageSize;i++){%>
			<tr>
				<td>17</td>
				<td>홍길동</td>
				<td>제목입니다</td>
				<td>2018-08-04</td>
				<td>34</td>
			</tr>
			<%}%>
			
			<tr>
				<td colspan="5" align="center">
					[1][2][3][4][5]
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
